@use "../../styles/partials/anims" as anim;
@use "../../styles/partials/colors" as color;
@use "../../styles/partials/media" as med;

.box-action {
  position: absolute;
  background-color: color.$abc-redpad;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid color.$abc-light;

  &__defense {
    background-color: color.$abc-bluepad;
  }

  &__flex {
    margin-top: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  &__lead {
    left:0px;

    &--orthodox {
      margin-left: 80vw;

      @include med.pad-break {
        margin-left: 100px;
      }
    }
  }

  &__rear {
    margin-left: 80vw;

    &--orthodox {
      left: 0px;
    }

    @include med.pad-break {
      margin-left: 100px;
    }
  }

  &--slide-left {
    animation-name: slide-left-mobile;
    animation-duration: 1s;
    animation-timing-function: linear;
    display: block;

    @include med.pad-break {
      animation-name: slide-left
    }
  }
  
  &--slide-right {
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: linear;
    display: block;
  }

  &--rest {
    display:none;
  }
}