@-webkit-keyframes hamburger-appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes hamburger-appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes slide-right {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 45%;
  }
}
@keyframes slide-right {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 45%;
  }
}
@-webkit-keyframes slide-left {
  from {
    margin-left: 320px;
  }
  to {
    margin-left: 45%;
  }
}
@keyframes slide-left {
  from {
    margin-left: 320px;
  }
  to {
    margin-left: 45%;
  }
}
@-webkit-keyframes slide-left-mobile {
  from {
    margin-left: 80vw;
  }
  to {
    margin-left: 45%;
  }
}
@keyframes slide-left-mobile {
  from {
    margin-left: 80vw;
  }
  to {
    margin-left: 45%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes hit {
  98% {
    transform: rotate(4deg);
  }
  99% {
    trasnform: rotate(-6deg);
  }
  100% {
    background-color: red;
    width: 90%;
    height: 90%;
  }
}
@keyframes hit {
  98% {
    transform: rotate(4deg);
  }
  99% {
    trasnform: rotate(-6deg);
  }
  100% {
    background-color: red;
    width: 90%;
    height: 90%;
  }
}
@-webkit-keyframes wiggle {
  30% {
    transform: rotate(0deg);
  }
  2%, 10%, 18% {
    transform: rotate(4deg);
  }
  6%, 14%, 22% {
    transform: rotate(-4deg);
  }
}
@keyframes wiggle {
  30% {
    transform: rotate(0deg);
  }
  2%, 10%, 18% {
    transform: rotate(4deg);
  }
  6%, 14%, 22% {
    transform: rotate(-4deg);
  }
}
.box-action {
  position: absolute;
  background-color: #d58f8a;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #ececec;
}
.box-action__defense {
  background-color: #77b4f6;
}
.box-action__flex {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-action__lead {
  left: 0px;
}
.box-action__lead--orthodox {
  margin-left: 80vw;
}
@media screen and (min-width: 400px) {
  .box-action__lead--orthodox {
    margin-left: 100px;
  }
}
.box-action__rear {
  margin-left: 80vw;
}
.box-action__rear--orthodox {
  left: 0px;
}
@media screen and (min-width: 400px) {
  .box-action__rear {
    margin-left: 100px;
  }
}
.box-action--slide-left {
  -webkit-animation-name: slide-left-mobile;
          animation-name: slide-left-mobile;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  display: block;
}
@media screen and (min-width: 400px) {
  .box-action--slide-left {
    -webkit-animation-name: slide-left;
            animation-name: slide-left;
  }
}
.box-action--slide-right {
  -webkit-animation-name: slide-right;
          animation-name: slide-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  display: block;
}
.box-action--rest {
  display: none;
}/*# sourceMappingURL=BoxAction.css.map */