@use "../../styles/partials/_colors.scss";

.main {

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 150px;

  &__hero {
    position:absolute;
    top:0;
    left:0;
    background-image: url("http://localhost:8080/images/mobile_splash.png");
    background-position:top;
    background-size: cover;
    opacity: 40%;
    width: 100%;
    height: 150px;
  }

  &__prompt {
    z-index: 100;
  }
}