

$abc-red: #ed2e22;

$abc-brown: #d6d1be;

$abc-light: #ececec;

$abc-nuanced: #dce3e1;

$abc-green: #94c4c4;

$abc-black: #322d2d;

$abc-white: #f6f5f5;

$abc-bluepad: #77b4f6;

$abc-redpad: #d58f8a;

$abc-lightred: #d58f8a;