@font-face {
  font-family: "MoviePoster";
  src: url("../../assets/fonts/Movie Poster Personal Use.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Technology";
  src: url(../../assets/fonts/Technology.ttf);
  font-weight: 400;
}