@use "../../styles/partials/colors" as color;

.pad-box {
  position: relative;
  width: 90vw;
  height: 120vw;
  max-height: 480px;
  max-width: 360px;
  //border: 2px solid white;
  //background-color: white;
}

