@use "../../styles/partials/colors" as color;
@use "../../styles/partials/media"  as med;

.train {
  &__page {
    width: 100%;
    //border: 2px solid cornflowerblue;
    position: relative;
  }

  &__infos {
    //border: 1px solid color.$abc-brown;
    width: 90vw;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;

    @include med.pad-break {
      width: 360px;
    }
  }
}

.modal {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.pads-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid color.$abc-brown;
}