@use "../../styles/partials/media" as med;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as var;
@use "../../styles/partials/colors" as color;

.header_menu {

  &__hamburger-icon {
    width: 2rem;
    height: 2rem;

    @include med.tablet {
      display: none;
    }
  }

  &__nav {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;

    
  }

  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    display: none;

    @include med.tablet {
      display: flex;
    }
  }
}